

<style>
    body{
        margin: 0%;
    }
  
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar sticky-lg-top">
        <div class="container-fluid">
            <div class="navbar-brand"></div>
        </div>
    </nav>
</body>
</html>
